body{
    overflow-x: hidden;
 }

.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, .05);
    min-height: 100px;
}

.nav-link{color: black;}
.nav-link:hover{color: #3090C7;}

.dropdown-item:hover{color: #3090C7;}

.logo{
    width: 250px;
    height: 60px;
}

#portada{
    background-image: url(../img/Portada2.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 640px;
	background-color: rgba(0,0,0,0.6);
}

#portada:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    height: 640px;
	background-color: rgba(0,0,0,0.6);
}

#dades h1 {font-size: 50px;}

#dades label{
    font-size: 20px;
}

#mapa{
    position:absolute;
    bottom: -50%;
    left: 120%;
}

footer{
    margin-top: 150px;
}

.footer-top{
    background-color: #3090C7
}

.footer-bot{
    padding: 60px;
}

.navbar-toggler{ font-size: 40px;}
.navbar-toggler:focus{ outline: none;}


@media (max-width: 575.98px) {
    #mapa{
        width: 250px !important;
        height: 200px !important;
        float: left !important;
        position: absolute !important;
        left: 15% !important;
        top: 15% !important;
   }
   #portada{
    background-image: url(../img/Portada2.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 850px !important;
	background-color: rgba(0,0,0,0.6);
    }

    #portada:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 850px !important;
        background-color: rgba(0,0,0,0.6);
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #mapa{
        width: 250px !important;
        height: 200px !important;
        float: left !important;
        position: absolute !important;
        left: 15% !important;
        top: 15% !important;
   }
   #portada{
    background-image: url(../img/Portada2.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 850px !important;
	background-color: rgba(0,0,0,0.6);
    }

    #portada:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 850px !important;
        background-color: rgba(0,0,0,0.6);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #mapa{
        width: 250px !important;
        height: 200px !important;
        float: left !important;
        position: absolute !important;
        left: -90% !important;
        top: 100% !important;
   }
   #portada{
    background-image: url(../img/Portada2.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 920px !important;
	background-color: rgba(0,0,0,0.6);
    }

    #portada:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 920px !important;
        background-color: rgba(0,0,0,0.6);
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #mapa{
        width: 600px !important;
        height: 450px !important;
        float: left !important;
        position: absolute !important;
        left: 65% !important;
        bottom: -100% !important;
   }
   #portada{
    background-image: url(../img/Portada2.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 850px !important;
	background-color: rgba(0,0,0,0.6);
    }

    #portada:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 850px !important;
        background-color: rgba(0,0,0,0.6);
    }
}



