body{
    overflow-x: hidden;
 }

.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    min-height: 100px;
}


.logo{
    width: 250px;
    height: 60px;
}

.nav-link{color: black;}
.nav-link:hover{color: #3090C7;}

.dropdown-item:hover{color: #3090C7;}

footer{
    margin-top: 150px;
}

.footer-top{
    background-color: #3090C7
}

.footer-bot{
    padding: 60px;
}

.navbar-toggler{ font-size: 40px;}
.navbar-toggler:focus{ outline: none;}


@media (max-width: 575.98px) {
  
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  
}

.foto {
    display: block;
    width: 200px;
    height: 150px;
    object-fit: contain;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .foto {
        width: 150px !important;
        height: 100px !important;
        margin: 120px 100px 50px 100px !important;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}
